extends layout

block content
    h2 Student Detail
    table
        tr
            th Name
            th Age
            th School
            th Delete
        tr
            td=student.name
            td=student.age
            td=student.school
            td
                a(href="/delete/" + student._id) Delete

    a(href="/") Home
    a(href="/update/" + student._id) Update
