extends layout

block content
    h2 Student Detail
    table
        tr
            th Name
            th Age
            th School
            th Delete
        tr
            td=student.name
            td=student.age
            td=student.school
            td
                form(method="POST" action="/delete")
                    input(type="hidden" value=student._id, name="id")
                    input(type="submit" value="Delete")

    a(href="/") Home
    a(href="/update/" + student._id) Update
