extends layout

block content
    h2 Student List
    table
        tr
            th Name
        each student in studentList
            tr
                td
                    a(href=student._id)=student.name