body {
    font-family: "Helvetica", Arial, sans-serif;
    background: #f0f0f0;
    color: #333;
    padding: 15px;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: #e0e0e0;
    font-weight: 100;
}

table, td, th {
    padding: 10px;
    border: 1px solid #ccc;

}

a {
    text-decoration: none;
    color: cadetblue;
    margin-left: 5px;
    margin-top: 10px;
}